
    <% @files.each do | filename| %>
      <a href="/dev/tree/app/assets/javascripts/<%= filename %>"><%= filename %></a><BR>
    <% end %>
    <BR>
    <% @files.each do |file| %>
      <%= render 'browse_file', file: file %>
      <BR>
    <% end %>
