

    <BR>
    <% @files.each do |filename| %>
      <div>
      <h><a href="/dev/tree/app/assets/javascripts/<%= filename %>"><%= filename %></a><BR></h>
      <%= render 'browse_file', file: filename %>
      <BR>
      </div>
    <% end %>
