body { margin: 19vh 0; text-align: center;
    font-size: 19pt;
    font-family: 'Dancing Script', cursive;
 }
img { display: block; margin: 8vh auto; }
form { margin: 5vh 0; }
.free-account { margin: 6vh 0; }
input { margin: 2pt; }

input, button {
  margin: .2em;
  color: #b914e3;
  border: 2pt solid white;
  font-size: 1em;
  padding: .4em .7em;
  border-radius: .4em;
  outline: none;
  text-align: center;
  opacity: .7;
  font-weight: 100;
  font-family: 'Dancing Script', cursive; */
  /* border-radius: 7pt;
  outline: none;
  padding: 7pt 10pt;
  text-align: center;
  opacity: .7;
  margin-bottom: .5em;

  font-size: 27pt;
  font-size: 2em;
  font-weight: 100;
  font-family: 'Dancing Script', cursive; */
}
