<!DOCTYPE html>

<HEAD>
<%= google_fonts 'Raleway:100,400,700' %>
<script src="https://d3js.org/d3.v5.min.js"></script>

<style>

body {
  font-family: 'Raleway';
  background-color: aliceblue;
}

h2 {
  color: aliceblue ;
  margin: 2px 0 20px 0;
  font-size: 1.7em;
  font-weight: 100;
}

chart[name=new-users] {
  clear: both;
  background-color: /* pink */ #ff7be2;
  display: block;
  padding: 10px;
  margin: 20px 11px;
  margin-bottom: 30px;
  border-radius: 12px;
}

chart[name=new-users] div {
  display: inline-block;
  background-color: /* purple */ #b929dc ;
  color: pink;
  width: 30px;
  /* float: left; */
  margin-right: 2px;
  bottom: 0;
  border-radius: 3px;
  vertical-align: bottom;
  transition: height .2s;
  /* text-align: center; */
}

.guage {
  width: 300px;
  height: 300px;
  border-radius: 22px;
  margin: 10px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  /* float: left; */
  display: inline-block;
}

.guage label {
  font-size: 2.2em;
  line-height: 2.4em;
  font-weight: 100;
  display: block;
}

.guage i {
  font-style: normal;
  font-size: 200px;
  font-weight: 200;
  line-height: .7em;
}

div.today {
  background-color: #bafffd;
  padding: 0px 15px 9px;
  border-radius: 13px;
  margin: 10px;
}

div.today h3 {
  background: #bafffd;
  margin: 32px 12px 0;
  padding: 10px 0 0px;
  border-radius: 8px;
  font-family: Raleway;
  color: #ff9efb;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

div.today .guage {
  width: 289px;
  margin: 20px 6px;
  box-shadow: -2px 12px 0 #0aeff2;
}

a.ht {
display: inline-block;
background-color: fuchsia;
padding: 4px;
border-radius: 5px;
text-decoration: underline;
}

</style>
</HEAD>


<BODY>


<div class='today' style='background-color: #bafffd;'>
  <h3 class='header'>Today</h3>

  <div class='guage'
       style='background-color: aqua;'>
    <label>Visitors</label>
    <i></i>
  </div>

  <div class='guage'
       style='background-color: aqua;'>
    <label>Sign-ups</label>
    <i></i>
  </div>

  <div class='guage'
       style='background-color: aqua;'>
    <label>Hits</label>
    <i></i>
  </div>

</div>

<chart name=new-users>
  <h2>New Users <a class='ht'>#bymonth</a></h2>
</chart>


<div class='guage'
    style="color: darkturquoise; bg-color: aquamarine; "
    color="darkturquoise/aquamarine">
  <label>Total Users</label>
  <i>3</i>
</div>

<script>

  // Polyfill @name query selector shorthand.
  //   @bob becomes [name=bob]
  //   div@jan becomes div[name=jan]
  (function() {
    var _select = d3.select;
    d3.select = function(selector) {
      // expand @name
      selector = selector.replace(/(.*)@(.+)/, '$1[name=$2]' )

      return _select(selector);
    }
  }());

  var newUsers = <%= raw @new_users.to_json %>;

  var chart = d3.select('chart@new-users')

  var x = d3.scaleLinear()
      .domain([0, d3.max(newUsers, function(d) {return d.value})])
      .range([0, 420]);

  chart.selectAll("div")
    .data(newUsers)
  .enter().append("div")
    .style("height", function(d) { return x(d.value) + "px"; })
    // .text(function(d) { return d.value; });
    // .text(function(d) { return d._id.month + "/" + d._id.year; });

</script>

</BODY>

<!--
References:

Let’s Make a Bar Chart, https://bost.ocks.org/mike/bar/
  November 5, 2013, Mike Bostock
  See also: https://bost.ocks.org/mike/bar/2/
-->
