<style>
body {
  color: deeppink;
}
</style>
<%#= stylesheet_link_tag "chat" %>
<div id="main">
  <div>
    <h2>Chat room</h2>
    <div id="messages"></div>
    <form id="send_message">
      <input type="text" id="message" name="message" autocomplete=off>
      <button>Send</button>
    </form>
  </div>
</div>
