
<style>
.domain {
  --line: orange;
  --line: hotpink;
  display: inline-block;
  /* border: 1px solid var(--line); */
  /* background: var(--line); */
  border-radius: 2px;
  /* max-width: 97px; */
  /* width: 93px; */
  /* max-width: 40px; */
  /* text-overflow: ellipsis; */
  /* text-overflow: '…com'; */
  overflow-x: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width .3s ease-in-out;
  /* padding: 0 2px; */
}
/*.domain:hover {
  max-width: none;
  width: 230px;
}*/
.address-bar {
  display: inline-block;
  border: 1px solid hotpink;
  border-radius: 2px;
  padding: 4px 10px;
  overflow: hidden;
}

.base-url {
  display: inline-block;
  margin-left: -270px;
  /* position: relative;
  left: -100px; */
  vertical-align: bottom;
  transition: margin-left .3s ease-in-out;
}

.base-url:hover {
  margin-left: 0;
}
.site-label {
  --line: orange;
  --line: hotpink;
  --line: blue;
  --line: #ff0ae4;
  --line: #ff0ae444;
  --line: #ff0ae477;
  --bg: #ff0ae477;
  --bg: #ff0ae422;
  --bg: #ff0ae411;
  display: inline-block;
  vertical-align: bottom;
  background: var(--line);
  background: var(--bg);
  border: 1px solid var(--line);
  padding: 0 2px 0 5px;
  border-radius: 2px;
  overflow: hidden;
  margin-right: -2px;
  position: relative;
  top: 1px;
}
.site-label:hover {
  margin-right: 0;
}
.site-label .protocol {
  margin-left: -77px;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  transition: margin-left .3s ease-in-out,
     margin-right .3s ease-in-out;
  padding: 0 2px;
  margin-right: 7px;
  white-space: nowrap;
}
.site-label:hover .protocol {
  margin-left: 0;
  margin-right: -2px;
}
.site-label .tld {
  width: 0px;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  transition: width .3s ease-in-out,
    margin-left .3s ease-in-out;
  margin-left: 7px;
}
.site-label:hover .tld {
  width: 135px;
  margin-left: 0px;
}
</style>
<div class="address-bar">
<span class="base-url">https://<span class="domain">dreamtool.herokuapp.com</span></span>/
</div>
<div class="address-bar">
<span class='site-label'><span class="protocol">https://</span>dreamtool<span class="tld">.herokuapp.com</span></span>/editions/new
</div>
<span class='site-label'><span class="protocol">https://www.</span>w3schools<span class="tld">.com</span>/cssref/css3_pr_text-overflow.asp</span>
