body {
  --ansi1: #F00;
  --ansi9: #F88;
  --ansi950: #F888;

  --ansi1: #00F;
  --ansi9: #88F;
  --ansi950: #88F8;

  --ansi1: #0037DA;
  --ansi9: #3B78FF;
  --ansi950: #3B78FF88;

  --ansi1: #03D;
  --ansi9: #37F;
  --ansi950: #37F8;

  --ansi3: #FF0;
  --ansi11: #FF8;
  --ansi1150: #FF88;

  --ansi3: #a80;
  --ansi3: #c19c00;
  --ansi3: #c90;

  --ansi3: #90c;
  --ansi11: #F8F;
  --ansi1150: #F8F8;

  --ansi3: #0c9;
  --ansi11: #8FF;
  --ansi1150: #8FF8;
}
