<title>Dreamtool</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="tagline" content="Create your online publication with Dreamtool.">

<link href="/welcome.css" rel="stylesheet">
<!-- <link href="stylesheets/fonts/Dancing+Script.css" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

<%= yield %>
